.book {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: 50px;
  padding-right: 100px;
}

.book__img {
  width: 240px;
  box-shadow: 5px 5px 20px black;
}

.type {
  font-size: 1.125rem;
  margin-top: 20px;
  color: #0000007a;
  margin-bottom: 30px;
}

.description {
  font-size: 1.25rem;
  padding: 20px;
  border: 1px solid #00000038;
  border-radius: 2px;
  margin-top: 20px;
  box-sizing: border-box;
  max-width: 720px;
}

.img__wrapper {
  padding: 125px 150px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #00000015;
}

@media screen and (max-width: 1400px) {
  .img__wrapper {
    padding: 75px 100px;
  }

  .info {
    margin-left: 30px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .book {
    flex-direction: column-reverse;
    padding-bottom: 0;
  }

  .info {
    margin: 0;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
  }

  .type {
    margin-bottom: 0;
  }

  .description {
    max-width: none;
    width: 100%;
  }

  .img__wrapper {
    width: 100%;
    margin-top: 10px;
  }
}
