.load {
  padding: 20px 50px;
  margin: 50px auto 0;
  display: block;
  border: 1px solid grey;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.load.dark {
  color: black;
  background-color: white;
}

.load.light {
  background-color: black;
  color: white;
}

.load.dark:hover {
  background-color: var(--button-hover);
  color: var(--font-color-light);
  border: 1px solid black;
}

.load.light:hover {
  background-color: var(--button-hover);
  color: var(--font-color-dark);
}
