.load {
  padding: 20px 50px;
  margin: 50px auto 0;
  display: block;
  border: 1px solid grey;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.load:hover {
  background-color: rgba(128, 128, 128, 0.075);
}

.load.dark {
  color: black;
  background-color: white;
}

.load.light {
  background-color: black;
  color: white;
}
