.quantity {
  text-align: center;
  margin-bottom: 30px;
}

.page {
  padding: 20px 0;
  min-height: 60vh;
}

.page.light {
  background-color: var(--page-light);
}

.page.dark {
  background-color: var(--page-dark);
}

.page.light .quantity {
  color: var(--font-color-dark);
}

.page.dark .quantity {
  color: var(--font-color-light);
}
