.dropdown__items {
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: var(--header-image);
  padding: 5% 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 20%;
  position: relative;
}

.dropdown__items > * {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px;
}

.ul {
  list-style-type: none;
  color: var(--font-color-light);
  display: flex;
  margin: 10px 0;
}

.ul > * {
  margin: 0 30px;
}

.ul > * > * {
  font-size: 1.5rem;
  color: var(--font-color-light);
}

.login {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  background-color: transparent;
  outline: 0;
  font-size: 1.5rem;
  color: var(--font-color-light);
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .dropdown__items {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 490px) {
  .header {
    padding: 40px 0;
  }

  .login {
    top: 15px;
    right: 15px;
  }
}
